@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
  include: "button", "card", "input", "modal";
}

@plugin "daisyui/theme" {
  name: "budget";
  default: true;
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #f5f5f5;
  --color-base-300: #e1e1e1;
  --color-base-content: #171717;
  --color-primary: #ddb407;
  --color-primary-content: #1e1e23;
  --color-secondary: #b5e2d2;
  --color-secondary-content: #1e1e23;
  --color-accent: #4f9d83;
  --color-accent-content: #fbfbfb;
  --color-neutral: #1e1e23;
  --color-neutral-content: #fbfbfb;
  --color-info: #3b82c4;
  --color-info-content: #fbfbfb;
  --color-success: #4caf6c;
  --color-success-content: #fbfbfb;
  --color-warning: #e8a33d;
  --color-warning-content: #1e1e23;
  --color-error: #d64545;
  --color-error-content: #fbfbfb;

  --radius-selector: 0.25rem;
  --radius-field: 0.1875rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --size-radius: 12px;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
